.todolist {
    min-height: 30vh;
    background-color: black;
    margin-top: 3rem;
 
     &__items {
         min-height: 20vh;
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
         gap: 1rem;
        
      
        
 
     }
 }