.todoitem {
  background-color: antiquewhite;
  border-radius: 1rem;
  min-height: 10rem;
  margin: 2rem .6rem;

  &__image {
  }

  &__category-heading {
  }

  &__title {
  }

  &__desc {
  }

  &__button {
  }
}
