.todolist {
    min-height: 30vh;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    background-color: rgb(114, 102, 102);
    gap: 1rem;
 }